# Database connection test

# Preparation

In [1]:
# Imports
import sqlite3
import pandas as pd

## Main connection

In [2]:
# Connect to main database
db_path = '../TsakonianDB.sqlite3'
conn = sqlite3.connect(db_path)

## Auxiliary functions

In [3]:
def query(query: str,
          cursor = conn.cursor()):

      cursor.execute(query)
      fetched = cursor.fetchall()

      if len(fetched) > 0:
            temp_df = pd.DataFrame(fetched, columns=[i[0] for i in cursor.description])
            return temp_df
      else:
            print('Query executed successfully. No results to show.')

In [4]:
# See what tables are in the database
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('django_migrations',), ('sqlite_sequence',), ('auth_group_permissions',), ('auth_user_groups',), ('auth_user_user_permissions',), ('django_admin_log',), ('django_content_type',), ('auth_permission',), ('auth_group',), ('auth_user',), ('django_session',), ('sqlitestudio_temp_table',), ('dictionary_entry',), ('dictionary_source',), ('dictionary_noun',)]

In [7]:
# See rows in the dictionary_entry table
q = "SELECT * FROM dictionary_entry;"
query(q)

,nowakowski,kostakis,greek,english,paradigm,source_id,lemma,ipa,tsakonian_duplicate,tsakonian_greek_duplicate,...,sampatiki,livadi,tyros,melana,sapounakaiika,palaiochora,agios_andreas,kastanitsa,sitaina,prastos
0,άβατθε,άβατ̇ε,άκλαυτος,None,Ε,1.0,None,None,άβατ̇ε,άβατ̇ε-άκλαυτος,...,None,None,None,None,None,None,None,None,None,None
1,άγιε,άγιε,εκκλησία,None,Α4,3.0,None,None,άγιε,άγιε-εκκλησία,...,None,None,None,None,None,None,None,None,None,None
2,άγο,άγο,άλογο,None,Α0,1.0,None,None,άγο,άγο-άλογο,...,None,None,None,None,None,None,None,None,None,None
3,άγουστε,άγουστε,αύγουστος,None,None,1.0,None,None,άγουστε,άγουστε-αύγουστος,...,None,None,None,None,None,None,None,None,None,None
4,άρζα,άζ̌α,"αραία, όχι συχνά",None,None,1.0,None,None,άζ̌α,"άζ̌α-αραία, όχι συχνά",...,None,None,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,None,None,None,None,None,NaN,-,--,---,None,...,None,None,None,None,None,None,None,None,None,None
1491,None,None,None,None,None,NaN,-,--,---,None,...,None,None,None,None,None,None,None,None,None,None
1492,None,None,None,None,None,NaN,-,--,---,None,...,None,None,None,None,None,None,None,None,None,None
1493,None,None,None,None,None,NaN,-,--,---,None,...,None,None,None,None,None,None,None,None,None,None
1494,None,None,None,None,None,NaN,-,--,---,None,...,None,None,None,None,None,None,None,None,None,None

In [6]:
# Show the columns in the dictionary_entry table
q = "PRAGMA table_info(dictionary_entry);"
query(q)

   cid       name          type  notnull dflt_value  pk
0    0  tsakonian   varchar(50)        0       None   0
1    1      greek  varchar(200)        0       None   0
2    2   paradigm    varchar(5)        0       None   0
3    3  source_id        bigint        0       None   0

## Rows

In [7]:
# Insert a row into the dictionary_entry table
q = "INSERT INTO dictionary_entry (tsakonian, greek, paradigm, source_id) VALUES ('test', 'this is a test', 'ZZ', 1);"
query(q)

OperationalError: table dictionary_entry has no column named source_id_id

In [ ]:
# Delete the row with ID 4
q = "DELETE FROM dictionary_entry WHERE id = 4;"
query(q)

Query executed successfully. No results to show.

## Columns

In [51]:
# Rename columns in the dictionary_entry table
q = "ALTER TABLE dictionary_entry RENAME COLUMN source_id_id TO a;"
query(q)

Query executed successfully. No results to show.

In [43]:
# Create a new column in the dictionary_entry table
q = "ALTER TABLE dictionary_entry ADD COLUMN paradigm varchar(5);"
query(q)

Query executed successfully. No results to show.

In [31]:
# Copy the paradigm column to the new paradigm_text column
q = "UPDATE dictionary_entry SET source_id = source_id_id;"
query(q)

Query executed successfully. No results to show.

In [61]:
# Create a source_id columns that is a foreign key to the source table but can be null
q = "ALTER TABLE dictionary_entry ADD COLUMN source_id bigint REFERENCES source(id);"
query(q)

Query executed successfully. No results to show.

In [59]:
# Drop a column
q = "ALTER TABLE dictionary_entry DROP COLUMN paradigm_text;"
query(q)

Query executed successfully. No results to show.

In [ ]:
# Alter column order
q = "ALTER TABLE dictionary_entry MODIFY COLUMN paradigm varchar(5) AFTER tsakonian;"
query(q)

# Deletion

In [5]:
# Drop a table
aux_var = 'dictionary_noun'
q = f"DROP TABLE {aux_var};"
query(q)

Query executed successfully. No results to show.