# Database connection test

# Preparation

In [27]:
# Imports
import sqlite3
import pandas as pd

## Main connection

In [28]:
# Connect to main database
db_path = '../TsakonianDB.sqlite3'
conn = sqlite3.connect(db_path)

## Auxiliary functions

In [29]:
def query(query: str,
          cursor = conn.cursor()):

      cursor.execute(query)
      fetched = cursor.fetchall()

      if len(fetched) > 0:
            temp_df = pd.DataFrame(fetched, columns=[i[0] for i in cursor.description])
            return temp_df
      else:
            print('Query executed successfully. No results to show.')

# Update tables

## Main

In [30]:
# Load main dictionary
main_df_path = '../data/tables/Main.xlsx'
main_df = pd.read_excel(main_df_path)

# Drop columns with 'duplicate' in the name
main_df = main_df.loc[:, ~main_df.columns.str.contains('duplicate')]

# Remove rows that have NaN in both `nowakowski` and `kostakis` columns
main_df = main_df.dropna(subset=['nowakowski', 'kostakis'], how='all')
main_df

,nowakowski,kostakis,greek,english,paradigm,source_id,lemma,ipa,leonidio,voskina,...,sampatiki,livadi,tyros,melana,sapounakaiika,palaiochora,agios_andreas,kastanitsa,sitaina,prastos
0,άβατθε,άβατ̇ε,άκλαυτος,NaN,Ε,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,άγιε,άγιε,εκκλησία,NaN,Α4,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,άγο,άγο,άλογο,NaN,Α0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,άγουστε,άγουστε,αύγουστος,NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,άρζα,άζ̌α,"αραία, όχι συχνά",NaN,NaN,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1066,κρόπο,κρόπο,κοπριά,NaN,Θ0,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1067,καμάρα,καμάρα,καμάρα,NaN,Θ,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1068,κοπέα,κοπέα,κοπέλα,NaN,Θ,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1069,προβάτα,προβάτα,προβατίνα,NaN,Θ,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1070,στέρνα,στέρνα,στέρνα,NaN,Θ,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Save to database
main_df.to_sql('dictionary_entry', 
               conn, 
               if_exists='replace', 
               index=False)

1071

## Sources

In [32]:
# Read sources.xlsx
sources_df_path = '../data/tables/Sources.xlsx'
sources_df = pd.read_excel(sources_df_path)
sources_df.head()

,source_id,title,url
0,1,"Καμβύσης, Ιωάννης (2020). Για να κ̇οντούμε τα ...",NaN
1,2,"Δέφνερ, Μιχαήλ (1923). Λεξικόν της Τσακώνικης ...",NaN
2,3,"Warr, John. Tsakoniandialect.info",http://www.tsakoniandialect.info/
3,4,"Μάνου, Ελένη (2015). Το πρώκιου μι Τσακώνικο λ...",NaN
4,5,"Κωστάκης, Θανάσης (1986). Λεξικό της τσακώνικη...",NaN

In [33]:
# Copy the sources into the database
sources_df.to_sql('dictionary_source', 
                  conn, 
                  if_exists='replace', 
                  index=False)

6

## Nouns

In [34]:
# Read Nouns.xlsx
nouns_df_path = '../data/tables/Nouns.xlsx'
nouns_df = pd.read_excel(nouns_df_path)
nouns_df.head()

  paradigm gen_sing plural  source_id     type            notes
0        Α      NaN    NaN        NaN  regular                ο
1        Θ      NaN    NaN        NaN  regular                α
2        Υ      NaN    NaN        NaN  regular               το
3       Α0      NaN    NaN        NaN  regular  ο, πλ. ανόμαλος
4       Α1      NaN    -οι        NaN  regular       ο, πλ. -οι

In [35]:
# Dump table into database
nouns_df.to_sql('dictionary_nounparadigm', 
               conn, 
               if_exists='replace', 
               index=False)

61

## Verbs

In [36]:
# Read Verbs.xlsx
verbs_df_path = '../data/tables/Verbs.xlsx'
verbs_df = pd.read_excel(verbs_df_path)
verbs_df.head()

  paradigm ending orist_aoristos ypot_aoristos metochi ypot_enestotas
0      ΡΑ1  αίνου           -άκα          -άου    -ατέ            NaN
1      ΡΑ1   άνου           -άκα          -άου    -ατέ            NaN
2      ΡΑ1   ίνου           -ίκα          -ίου    -ατέ            NaN
3      ΡΑ1   ήνου           -ήκα          -ήου    -ατέ            NaN
4      ΡΑ2  ούνου          -ούκα           -ού   -ουτέ            NaN

In [37]:
# Dump table into database
verbs_df.to_sql('dictionary_verbparadigm', 
               conn, 
               if_exists='replace', 
               index=False)

34

## Adjectives

In [38]:
# Read Adjectives.xlsx
adjectives_df_path = '../data/tables/Adjectives.xlsx'
adjectives_df = pd.read_excel(adjectives_df_path)
adjectives_df.head()

  paradigm         forms
0        Ε         επίθ.
1       Ε1    -ε, -α, -ε
2       Ε2  -ε, -α, -ιου
3       Ε3    -ε, -ε, -ε
4       Ε4  -ε, -ε, -ιου

In [39]:
# Dump table into database
adjectives_df.to_sql('dictionary_adjectiveparadigm', 
                    conn, 
                    if_exists='replace', 
                    index=False)

10