# Database connection test

# Preparation

In [1]:
# Imports
import sqlite3
import pandas as pd

## Main connection

In [2]:
# Connect to main database
db_path = '../TsakonianDB.sqlite3'
conn = sqlite3.connect(db_path)

## Auxiliary functions

In [3]:
def query(query: str,
          cursor = conn.cursor()):

      cursor.execute(query)
      fetched = cursor.fetchall()

      if len(fetched) > 0:
            temp_df = pd.DataFrame(fetched, columns=[i[0] for i in cursor.description])
            return temp_df
      else:
            print('Query executed successfully. No results to show.')

# Add words from main dictionary to the database

## Load dictionary

In [4]:
# Load main dictionary
main_df_path = '../data/tables/Main.xlsx'
main_df = pd.read_excel(main_df_path)
main_df

,nowakowski,kostakis,greek,english,paradigm,source_id,lemma,ipa,tsakonian_duplicate,tsakonian_greek_duplicate,...,sampatiki,livadi,tyros,melana,sapounakaiika,palaiochora,agios_andreas,kastanitsa,sitaina,prastos
0,άβατθε,άβατ̇ε,άκλαυτος,NaN,Ε,1.0,NaN,NaN,άβατ̇ε,άβατ̇ε-άκλαυτος,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,άγιε,άγιε,εκκλησία,NaN,Α4,3.0,NaN,NaN,άγιε,άγιε-εκκλησία,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,άγο,άγο,άλογο,NaN,Α0,1.0,NaN,NaN,άγο,άγο-άλογο,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,άγουστε,άγουστε,αύγουστος,NaN,NaN,1.0,NaN,NaN,άγουστε,άγουστε-αύγουστος,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,άρζα,άζ̌α,"αραία, όχι συχνά",NaN,NaN,1.0,NaN,NaN,άζ̌α,"άζ̌α-αραία, όχι συχνά",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1491,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1492,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Upload main_df to the database

In [5]:
# Show the dataframe
main_df

,nowakowski,kostakis,greek,english,paradigm,source_id,lemma,ipa,tsakonian_duplicate,tsakonian_greek_duplicate,...,sampatiki,livadi,tyros,melana,sapounakaiika,palaiochora,agios_andreas,kastanitsa,sitaina,prastos
0,άβατθε,άβατ̇ε,άκλαυτος,NaN,Ε,1.0,NaN,NaN,άβατ̇ε,άβατ̇ε-άκλαυτος,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,άγιε,άγιε,εκκλησία,NaN,Α4,3.0,NaN,NaN,άγιε,άγιε-εκκλησία,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,άγο,άγο,άλογο,NaN,Α0,1.0,NaN,NaN,άγο,άγο-άλογο,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,άγουστε,άγουστε,αύγουστος,NaN,NaN,1.0,NaN,NaN,άγουστε,άγουστε-αύγουστος,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,άρζα,άζ̌α,"αραία, όχι συχνά",NaN,NaN,1.0,NaN,NaN,άζ̌α,"άζ̌α-αραία, όχι συχνά",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1490,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1491,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1492,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1493,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1494,NaN,NaN,NaN,NaN,NaN,NaN,-,--,---,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
main_df.to_sql('dictionary_entry', 
               conn, 
               if_exists='replace', 
               index=False,
            #    dtype = {'tsakonian': 'varchar(50)',
            #             'greek': 'varchar(200)',
            #             'paradigm': 'varchar(5)',
            #             'source_id': 'bigint'
            #    }
            )

1495

# Update sources table

In [ ]:
# Read sources.xlsx
sources_df_path = '../data/tables/sources.xlsx'
sources_df = pd.read_excel(sources_df_path)
sources_df.head()

In [ ]:
# Copy the sources into the database
sources_df.to_sql('dictionary_source', 
                  conn, 
                  if_exists='replace', 
                  index=False,
                  dtype = {'id': 'bigint',
                           'source': 'varchar(100)',
                           'author': 'varchar(100)',
                           'year': 'varchar(10)',
                           'notes': 'varchar(100)'
                  })

In [ ]:
# Copy the full sources table into the database
sources_df.to_sql('dictionary_source', 
                  conn, 
                  if_exists='replace', 
                  index=False,
                  dtype = {'id': 'bigint',
                           'source': 'varchar(100)',
                           'author': 'varchar(100)',
                           'year': 'varchar(10)',
                           'notes': 'varchar(100)'
                  })

# Delete the temporary table if it exists
try:
    query("DROP TABLE sqlitestudio_temp_table;")
except:
    pass

# Add primary keys and foreign keys by recreating the table
# Obtained from SQLiteStudio
recreating_query = """PRAGMA foreign_keys = 0;

CREATE TABLE sqlitestudio_temp_table AS SELECT *
                                            FROM dictionary_source;

DROP TABLE dictionary_source;

CREATE TABLE dictionary_source (
    source_id   INTEGER       PRIMARY KEY AUTOINCREMENT,
    title       VARCHAR (300),
    url         VARCHAR (200)
);

INSERT INTO dictionary_source (
                                    source_id,
                                    title,
                                    url
                                )
                                SELECT source_id,
                                         title,
                                         url
                                    FROM sqlitestudio_temp_table;

DROP TABLE sqlitestudio_temp_table;

PRAGMA foreign_keys = 1;"""

# Execute queries in a loop
# Only one query can be executed at a time
for q in recreating_query.split(';'):
      query(q)

# Save changes
conn.commit()